header.header
  .header--logo
    a(href='/') 
      picture.header__logo
        source(
          srcset='/img/logo-green-1x.png, /img/logo-green-2x.png 2x',
          media='(max-width: 37.5em)',
          alt='Natours logo'
        )
        img(src='/img/logo-green.png', alt='Natours logo')

  nav.nav--user
    ul.nav--user__list
      if user
        li.nav--user__item
          a.nav--user__link.nav__el--logout(href='/') Logout
        li.nav--user__item
          a.nav--user__link(href='/my-account')
            img.nav__user-img(src=`${user.photo}`, alt=`Photo of ${user.name}`)
            span.username= user.name.split(' ')[0]
      else
        li.nav--user__item
          a.nav--user__link(href='/login') Login
        li.nav--user__item
          a.nav--user__link(href='/signup') Sign Up
