extends base

block content
  //- Header
  include _header-home

  main
    //- Landing 
    .header-container 
      .header-container__text-box
        h1.heading-primary-landing
          span.heading-primary-landing--main Outdoors
          span.heading-primary-landing--sub Is Where ADVENTURE Begins
        a.btn.btn--white.btn--animated(href='#section-tours') Discover our tours

    //- About Us 
    section#section-about.section-about
      .u-center-text.u-margin-bottom-big
        h2.heading-secondary.
          Exciting tours for adventurous people

      .row
        .col-1-of-2
          h3.heading-tertiary.u-margin-bottom-small You're going to fall in love with nature
          p.paragraph.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.

          h3.heading-tertiary.u-margin-bottom-small Live adventures like you never have before
          p.paragraph.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla deserunt voluptatum nam.

          a.btn-text(href='#about-us') Learn more →
        .col-1-of-2
          .composition
            img.composition__photo.composition__photo--p1(
              srcset='/img/nat-1.jpg 300w, img/nat-1-large.jpg 1000w',
              sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px',
              alt='Photo 1',
              src='/img/nat-1-large.jpg'
            )
            img.composition__photo.composition__photo--p2(
              srcset='/img/nat-2.jpg 300w, /img/nat-2-large.jpg 1000w',
              sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px',
              alt='Photo 2',
              src='/img/nat-2-large.jpg'
            )
            img.composition__photo.composition__photo--p3(
              srcset='/img/nat-3.jpg 300w, /img/nat-3-large.jpg 1000w',
              sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px',
              alt='Photo 3',
              src='/img/nat-3-large.jpg'
            )

    //- Features
    section#section-features.section-features
      .row
        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-world
            h3.heading-tertiary.u-margin-bottom-small Explore the world
            p.feature-box__text.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.

        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-compass
            h3.heading-tertiary.u-margin-bottom-small Meet nature
            p.feature-box__text.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.

        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-map
            h3.heading-tertiary.u-margin-bottom-small Find your way
            p.feature-box__text.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.

        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-heart
            h3.heading-tertiary.u-margin-bottom-small Live a healthier life
            p.feature-box__text.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.

    //- All tours
    section#section-tours.section-tours
      .u-center-text.u-margin-bottom-medium
        h2.heading-secondary Popular Adventures Tours

      .card-container
        each tour in tours
          .card
            .card__header
              .card__picture
                .card__picture-overlay &nbsp;
                img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
              h3.card__heading
                span.card__heading-span= tour.name

            .card__details
              h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day tour`
              p.card__text= tour.summary
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-map-pin')
                span= tour.startLocation.description
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-calendar')
                span= new Date(tour.startDates[0]).toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' })
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-flag')
                span= `${tour.locations.length} stops`
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-user')
                span= `${tour.maxGroupSize} people`

            .card__footer
              p
                span.card__footer-value= `$${tour.price} `
                span.card__footer-text per person
              p.card__ratings
                span.card__footer-value= tour.ratingsAverage
                span.card__footer-text= ` rating (${tour.ratingsQuantity})`
              a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details

    //- User Stories
    section#section-stories.section-stories
      .bg-video
        video.bg-video__content(autoplay, muted, loop)
          source(src='img/video.mp4', type='video/mp4')

      .u-center-text.u-margin-bottom-big
        h2.heading-secondary.
          We make people genuinely happy

      .row
        .story
          figure.story__shape
            img.story__img(src='img/nat-8.jpg', alt='Person on a tour')
            figcaption.story__caption Mary Smith
          .story__text
            h3.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.

      .row
        .story
          figure.story__shape
            img.story__img(src='img/nat-9.jpg', alt='Person on a tour')
            figcaption.story__caption Jack Wilson
          .story__text
            h3.heading-tertiary.u-margin-bottom-small WOW! My life is completely different now
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.

      .u-center-text.u-margin-top-huge.ma-bt-lg
        a.btn-text(href='#') Read all stories →

    //- Apply for a Guide
    section#section-apply.section-apply
      .row
        .apply
          .apply__form
            form.form.form--apply
              .u-margin-bottom-big
                h2.heading-secondary Become A Guide

              .form__group
                label.form__label(for='name') Username
                input#name.form__input(
                  type='text',
                  name='name',
                  placeholder='FirstName LastName',
                  required
                )

              .form__group.ma-bt-md
                label.form__label(for='email') Email address
                input#email.form__input(
                  type='email',
                  name='email',
                  placeholder='you@example.com',
                  required
                )

              .form__group.ma-bt-md
                .form__radio-group
                  input#small.form__radio-input(type='radio', name='size')
                  label.form__radio-label(for='small')
                    span.form__radio-button
                    | Tour Guide

                .form__radio-group
                  input#large.form__radio-input(type='radio', name='size')
                  label.form__radio-label(for='large')
                    span.form__radio-button
                    | Lead Guide

              .form__group
                button.btn.btn--green(type='submit') Apply

    //- Scroll To Top Button
    button#scrollToTop.btn--top
      ion-icon.btn--top__icon(name='arrow-up-circle-outline')
