extends base

block content
  main.main
    .forgot_reset-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form.form--resetPassword
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(
            type='password',
            name='password',
            placeholder='••••••••',
            required,
            minlength='8'
          )
        .form__group.ma-bt-md
          label.form__label(for='confirm-password') Confirm Password
          input#confirm-password.form__input(
            type='password',
            name='confirm-password',
            placeholder='••••••••',
            required,
            minlength='8'
          )
        .form__group
          button#change-password.btn.btn--green(type='submit', data-reset-token=`${resetToken}`) Change Password
