extends base

block content
  //- Header
  include _header

  main.form-main.u-margin-bottom-big 
    .signup-form
      h2.heading-secondary.ma-bt-lg Create your account

      form.form.form--signup
        .form__group
          label.form__label(for='name') Username
          input#name.form__input(
            type='text',
            name='name',
            placeholder='FirstName LastName',
            required
          )
        .form__group.ma-bt-md
          label.form__label(for='email') Email address
          input#email.form__input(
            type='email',
            name='email',
            placeholder='you@example.com',
            required
          )
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(
            type='password',
            name='password',
            placeholder='••••••••',
            required,
            minlength='8'
          )
        .form__group.ma-bt-md
          label.form__label(for='confirm-password') Confirm Password
          input#confirm-password.form__input(
            type='password',
            name='confirm-password',
            placeholder='••••••••',
            required,
            minlength='8'
          )
        .form__group
          button.btn.btn--green(type='submit') Sign Up

          //- br
          //- br
          //- br
          //- hr

          //- p Or sign up with

          //- a(href='/auth/google') Sign up with Google
